<form action="" class="form-group">
    <div class="form-group">
        <label for="">Pid</label>
    </div>
    <div>
        <input type="text" class="form-control" #pid="ngModel" [(ngModel)]="model.id" name="id" required>
        <div *ngIf="pid.invalid && (pid.dirty || pid.touched)">
            ID Field cant be empty
        </div>
    </div>
    <div class="form-group">
        <label for="">Name</label>

    </div>
    <div>
        <input type="text" class="form-control" [(ngModel)]="model.name" name="name" required>
    </div>
    <div class="form-group">
        <label for="">Price</label>

    </div>
    <div>
        <input type="text" class="form-control" [(ngModel)]="model.price" name="price" required>
    </div>
    <div class="form-group">
        <label for="">Description</label>

    </div>
    <div>
        <input type="text" class="form-control" [(ngModel)]="model.description" name="description" required>
    </div>
    <button class="btn btn-primary" (click)=saveProduct()>Save</button>
    <button class="btn btn-primary" (click)=showData()>View</button>
<div class="form-group showData" id="show" style=width:700px;height:200px;background-color:rosybrown>

</div>
</form>