/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
.activeBlue{
    color:blue;
    font-size:20px;
    font-weight:bolder;
}
.disabledBlue{
    color:grey;
    font-size:20px;
    font-weight:lighter;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
